$bgColor: rgb(160, 150, 186);

$buttonBgColor: #cc9a6c;
$buttonHoverBgColor: #d2b48c;

$buttonColor: blueviolet;

$primaryFontFamily: "Raleway";
$secondaryFontFamily: "Agbalumo";

$colorOne: #dcf8ff;
$colorTwo: #f79164;

// rgb(160, 150, 186)

$color3: #592941;

// $buttonBgColor: #613f75;
// $buttonHoverBgColor: #373737;
