$primaryColor: rgb(160, 150, 186);
$secondaryColor: #cc9a6c;
$ternaryColor: #d2b48c;

$buttonColor: blueviolet;
$accentColor: #592941;

$primaryFontFamily: "Raleway";
$secondaryFontFamily: "Agbalumo";
